@font-face {
  font-family: "Neue-Einstellung-Regular";
  src: url("../assets/fonts/Neue-Einstellung-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.text-gray-300 {
  color: #b3b3b3;
}

.text-gray-700 {
  color: #999999;
}

.bg-gray-700 {
  background-color: #999999;
}

.text-gray-600 {
  color: #707070;
}

.bg-gray-100 {
  background-color: #f8f2f2;
}

.text-gray-100 {
  color: #f8f2f2;
}

.bg-red-400 {
  background-color: #ffaaaa;
}

.bg-red-light {
  background-color: #fff4f3;
}

.bg-green-light {
  background-color: #e4f4e4;
}

.bg-yellow-light {
  background-color: #fff9dd;
}

.footer-bg {
  background-color: #262626;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Neue-Einstellung-Regular", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Einstellung", sans-serif;
}

.heading-h1 {
  font-size: 55px;
  font-weight: 500;
}
@media (max-width: 1440px) {
  .heading-h1 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .heading-h1 {
    font-size: 35px;
  }
}

.heading-h2 {
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .heading-h2 {
    font-size: 20px;
    font-weight: 700;
  }
}

.heading-h3 {
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .heading-h3 {
    font-size: 25px;
    font-weight: normal;
  }
}

.heading-h4 {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .heading-h4 {
    font-size: 20px;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .heading-h4 {
    font-size: 20px;
    font-weight: 700;
  }
}

.heading-h5 {
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .heading-h5 {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .heading-h5 {
    font-size: 16px;
    font-weight: normal;
  }
}

.heading-h6 {
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .heading-h6 {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .heading-h6 {
    font-size: 16px;
    font-weight: normal;
  }
}

.text-lg {
  font-size: 18px;
}

.text-base {
  font-size: 16px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .text-base {
    font-size: 14px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .text-base {
    font-size: 14px;
    font-weight: normal;
  }
}

.text-md {
  font-size: 15px;
}

.text-sm {
  font-size: 14px;
}

.text-xm {
  font-size: 10px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.hero-section {
  background: linear-gradient(to right, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0)), url(/assets/images/backgrounds/header-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
@media (max-width: 2700px) {
  .hero-section {
    height: 1200px !important;
  }
}
@media (max-width: 1920px) {
  .hero-section {
    height: 800px !important;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1440px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    height: auto;
  }
}
@media (max-width: 991px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
  }
}

.cat-prod-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .cat-prod-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 767px) {
  .cat-prod-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}
.cat-prod-img:hover {
  transform: scale(1.1);
}

.cat-left-col-img {
  width: 100%;
  height: 1055px;
  object-fit: cover;
  object-position: top;
}
@media (max-width: 1440px) {
  .cat-left-col-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
  }
}

.luxury-text {
  left: 0px;
  bottom: 0;
}

.logo-wrap {
  border: 1px solid rgb(230, 230, 230);
  height: 240px;
}

.subscrie-btn {
  width: 60px;
  height: 60px;
}

.submit-form {
  border: 1px solid rgb(102, 102, 102);
}

.off-price,
.heart-action {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .off-price,
.heart-action {
    width: 40px;
    height: 40px;
  }
}

.off-price {
  top: 12px;
  left: 20px;
}

.timer {
  bottom: 27%;
  width: 85%;
  display: flex;
}

.prod-column:hover .timer {
  bottom: 27%;
  width: 85%;
  display: none;
}

.heart-action {
  top: 12px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s;
}

.cart-actions {
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  opacity: 0;
  transition: all 0.4s;
}
.cart-actions .action-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .cart-actions .action-btn {
    width: 40px;
    height: 40px;
  }
}
.cart-actions .action-btn:hover {
  background-color: #ff6363;
}
.cart-actions .action-btn:hover i {
  color: #fff;
}
.cart-actions .action-btn:hover path {
  fill: #fff;
}
.cart-actions .action-btn i {
  color: #707070;
}
.cart-actions .action-btn path {
  fill: #707070;
}

.heart-action {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .heart-action {
    width: 40px;
    height: 40px;
  }
}
.heart-action:hover {
  background-color: #ff6363;
}
.heart-action:hover i {
  color: #fff;
}
.heart-action i {
  color: #707070;
}

.prod-column {
  transition: all 0.4s;
}
.prod-column:hover .cart-actions {
  opacity: 1;
  bottom: 24%;
  left: 50%;
  transform: translate(-50%, -24%);
}
.prod-column:hover .heart-action {
  transform: translateX(0%);
  opacity: 1;
}

.cat-prod-img:hover .action-btn {
  opacity: 1;
}

.logo {
  width: 100%;
  height: auto;
}
@media (max-width: 1440px) {
  .logo {
    width: 85%;
  }
}
@media (max-width: 991px) {
  .logo {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 60%;
  }
}

.logo-wrap-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1240px) {
  .logo-wrap-main {
    left: 36%;
    transform: translateX(-36%);
  }
}
@media (max-width: 991px) {
  .logo-wrap-main {
    left: 50%;
    transform: translateX(-50%);
  }
}

.cat-list li a {
  text-transform: uppercase;
}
.cat-list .cat-list-item:hover .sub-cat-list {
  display: block;
}
.cat-list .cat-list-item .sub-cat-list {
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 5;
  display: none;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item {
  width: max-content;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover {
  background-color: #f8f2f2;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover .sub-sub-cat-list {
  display: block;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 5;
  display: none;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item {
  width: 245px;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:hover {
  background-color: #f8f2f2;
}

/* Add styles for sub-sub-categories */
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:hover {
  background-color: #f8f2f2;
}

.cart-icons {
  cursor: pointer;
}

.foodox-item-1 .img-wrapp,
.foodox-item-4 .img-wrapp {
  max-width: 60%;
  height: auto;
  object-fit: contain;
}
@media (max-width: 1440px) {
  .foodox-item-1 .img-wrapp,
.foodox-item-4 .img-wrapp {
    max-width: 100%;
    object-fit: contain;
  }
}

.content-box {
  position: absolute;
  right: 32px;
}
@media (max-width: 991px) {
  .content-box {
    position: relative;
  }
}

.content-box-1-img {
  position: absolute;
  left: 10px;
  top: 80px;
}
@media (max-width: 991px) and (max-width: 991px) {
  .content-box-1-img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.content-box-1-img img {
  max-width: 80%;
}

.content-box-2-img {
  position: absolute;
  left: 20px;
  top: 40px;
}
@media (max-width: 991px) {
  .content-box-2-img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.content-box-2-img img {
  max-width: 44%;
}
@media (max-width: 1440px) {
  .content-box-2-img img {
    max-width: 30%;
  }
}
@media (max-width: 991px) {
  .content-box-2-img img {
    max-width: 60%;
  }
}

.mob-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.mob-search.show-mob-search {
  display: flex;
}
@media (min-width: 992px) {
  .mob-search.show-mob-search {
    display: none;
  }
}

.shop-btn {
  transition: all 0.3s;
}
.shop-btn:hover {
  margin-left: 6px;
}

.category-navigation {
  position: absolute;
  top: 0;
  width: 20%;
  left: 0px;
  height: 100vh;
  background-color: #fff;
  z-index: 3;
  transform: translateX(-180%);
  transition: all 0.4s;
}
.category-navigation .main-category {
  cursor: pointer;
}
.category-navigation .main-category:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category:hover {
  background-color: #f8f2f2;
}
.category-navigation .main-category:hover .sub-category {
  display: block;
}
.category-navigation .main-category .sub-category {
  left: 100%;
  top: 0;
  background-color: #fff;
  min-width: 272px;
  height: 100vh;
  display: none;
}
.category-navigation .main-category .sub-category .sub-category-items:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category .sub-category .sub-category-items:hover {
  background-color: #f8f2f2;
}
.category-navigation .main-category .sub-category .sub-category-items:hover .sub-sub-category {
  display: block;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category {
  left: 100%;
  top: 0;
  background-color: #fff;
  min-width: 272px;
  height: 100vh;
  display: none;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category:hover .sub-sub-category-items {
  display: block;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category .sub-sub-category-items:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category .sub-sub-category-items:hover {
  background-color: #f8f2f2;
}
.category-navigation .close-btn {
  cursor: pointer;
}
.category-navigation .close-btn:hover {
  color: #ff6363;
}

.category-navigation.show-nav {
  transform: translateX(0%);
}
@media (max-width: 991px) {
  .category-navigation.show-nav {
    display: none;
  }
}

.top-nav {
  border-bottom: 2px solid #e6e6e6;
}
.top-nav .cart-icons span {
  position: absolute;
  right: -7px;
  bottom: -3px;
  background-color: #ff6363;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
}
.top-nav .category-menu {
  cursor: pointer;
}
.top-nav .category-menu:hover {
  color: #ff6363;
}

.center-nav .cat-list-item .main-link {
  text-transform: uppercase;
  position: relative;
}
.center-nav .cat-list-item .main-link:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -4px;
  border-radius: 4px;
  left: 0;
  background-color: #ffd536;
  height: 3px;
  transform: scale(0);
  transition: all 0.4s;
  transform-origin: left;
}
.center-nav .cat-list-item .main-link:hover:after {
  transform: scale(1);
}

.best-prod-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.4s;
}
.best-prod-img:hover {
  transform: scale(1.1);
}

.credits {
  border-top: 1px solid rgb(77, 77, 77);
}

.services-icon {
  height: 60px;
  width: 60px;
}

.social-links {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer .footer-icon-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 16px;
  border-radius: 50%;
}
footer .footer-links {
  transition: all 0.5s;
}
footer .footer-links:hover {
  margin-left: 5px;
  color: #ff6363;
}

.scrollToTopBtn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  background-color: #ff6363;
  border: 1px solid #ff6363;
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}
@media (max-width: 575px) {
  .scrollToTopBtn {
    width: 36px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 16px;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.contact-anchors {
  color: #ff6363;
}

.contact-icons {
  height: 52px;
  width: 52px;
  border-radius: 2px 12px 2px 12px;
  background-color: #ff6363;
}
.contact-icons i {
  color: #fff;
  font-size: 1.25rem;
}

.tick-wrap {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.pricing-type {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p.pricing-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #737373;
  font-weight: bold;
}

h4.pricing {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}

p.spec-currency {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

p.spec-month {
  color: #8ec2f2;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

span.pricing-feature-tick {
  display: inline-flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.services-wrap {
  cursor: pointer;
  position: relative;
}
.services-wrap .service-card {
  border-radius: 30px;
  position: relative;
  z-index: 2;
}
.services-wrap .service-card .service-img-wrap {
  height: 190px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.services-wrap .services-bg {
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  width: 97%;
  height: 97%;
  background-color: #1b1542;
  border-radius: 30px;
  top: 1px;
  left: 1px;
}
.services-wrap:hover .services-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-2deg);
}

.newsletter-container {
  border-radius: 12px;
  min-height: 300px;
  position: relative;
}
.newsletter-container .newsletter-heading {
  font-size: 44px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .newsletter-container .newsletter-heading {
    font-size: 36px;
    font-weight: 500;
  }
}
.newsletter-container .newsletter-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .newsletter-container .newsletter-img {
    position: relative;
  }
}

.white-rule {
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.stat-info {
  border-radius: 14px;
}
.stat-info .stat-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background: #fff;
}
.stat-info .stat-count {
  color: #faffff;
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
}
@media (max-width: 1400px) {
  .stat-info .stat-count {
    font-size: 42px;
  }
}
.stat-info .state-name {
  color: #faffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 1400px) {
  .stat-info .state-name {
    font-size: 18px;
    line-height: 18px;
  }
}

.portfolio-img-wrap {
  position: relative;
  z-index: 2;
}
.portfolio-img-wrap .portfolio-img {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.portfolio-img-wrap .portfilo-img-bg {
  content: "";
  position: absolute;
  z-index: -2;
  width: 98%;
  height: 98%;
  border-radius: 6px;
  border: 1px solid #000;
  background: #fff;
  top: 3px;
  left: 3px;
  right: 0;
  transition: all 0.8s ease-in-out;
}
.nav-tab-btn {
  border: 1px solid #1b1542;
  color: #1b1542;
  background-color: transparent;
  width: 150px;
  height: 54px;
}

.nav-tab-btn:first-child {
  border-radius: 6px 0px 0px 6px;
}

.nav-tab-btn:last-child {
  border-radius: 0px 6px 6px 0px;
}

.nav-btn-active {
  background-color: #1b1542;
  color: #fff;
}

.header-img-wrap {
  position: relative;
}
@media (max-width: 767px) {
  .header-img-wrap img {
    max-width: 80%;
  }
}
.header-img-wrap .rating-card,
.header-img-wrap .doc-card {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 12px 32px 0px rgba(63, 128, 240, 0.08);
}
.header-img-wrap .rating-card .g-star-box,
.header-img-wrap .doc-card .g-star-box {
  border-radius: 10px;
  background: #f7f9fe;
  width: 30px;
  height: 30px;
}
.header-img-wrap .rating-card .rating-text,
.header-img-wrap .doc-card .rating-text {
  color: #031432;
  line-height: normal;
  font-size: 12px;
}
@media (max-width: 767px) {
  .header-img-wrap .rating-card .rating-text,
.header-img-wrap .doc-card .rating-text {
    font-size: 9px;
  }
}
.header-img-wrap .rating-card {
  top: 7%;
  right: -12%;
}
@media (max-width: 767px) {
  .header-img-wrap .rating-card {
    right: 0%;
    top: -3%;
  }
}
.header-img-wrap .doc-card {
  bottom: 14%;
  left: 7%;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card {
    left: 0%;
    bottom: 8%;
  }
}
.header-img-wrap .doc-card .doc-text-lg {
  color: #031432;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card .doc-text-lg {
    font-size: 12px;
  }
}
.header-img-wrap .doc-card .doc-text-sm {
  color: #6c87ae;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card .doc-text-sm {
    font-size: 8px;
  }
}
.header-img-wrap .process-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: -20px 34px 84px -20px rgba(0, 0, 0, 0.4);
  top: 44%;
  right: -17%;
  position: absolute;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card {
    top: 32%;
    right: 0%;
  }
}
.header-img-wrap .process-card .icon-box {
  border-radius: 10px;
  background: #f7f9fe;
  width: 30px;
  height: 30px;
}
.header-img-wrap .process-card .process-text-top {
  color: #1d2b4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .process-text-top {
    font-size: 10px;
  }
}
.header-img-wrap .process-card .process-text-bottom {
  color: #7e8085;
  font-size: 11px;
  margin-top: 2px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.07px;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .process-text-bottom {
    font-size: 7px;
  }
}
.header-img-wrap .process-card .line-1,
.header-img-wrap .process-card .line-2 {
  width: 1px;
  height: 18px;
  background-color: rgba(150, 144, 148, 0.67);
  left: 16%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-1,
.header-img-wrap .process-card .line-2 {
    left: 18%;
  }
}
.header-img-wrap .process-card .line-1 {
  top: 28.5%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-1 {
    top: 28%;
  }
}
.header-img-wrap .process-card .line-2 {
  top: 61.4%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-2 {
    top: 61%;
  }
}

.why-us-img-wrap {
  position: relative;
}
.why-us-img-wrap .top-card {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 34px 84px -20px rgba(0, 0, 0, 0.35);
  top: 10%;
  right: -10%;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card {
    top: -8%;
    right: 0%;
  }
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .apt-btn {
    font-size: 10px !important;
    word-spacing: 5px;
  }
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card {
    max-width: 180px;
  }
}
.why-us-img-wrap .top-card .stat-box {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: #f7f9fe;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .stat-box {
    width: 48px;
    height: 34px;
    border-radius: 5px;
  }
}
.why-us-img-wrap .top-card .stat-box .stat-count {
  color: #1d2b4f;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.12px;
}
.why-us-img-wrap .top-card .stat-box .disc-text {
  color: #1d2b4f;
  font-size: 9px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .disc-text {
    font-size: 12px;
    line-height: 16px;
  }
}
.why-us-img-wrap .bottom-card {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 34px 84px -20px rgba(0, 0, 0, 0.25);
  bottom: 6%;
  left: -10%;
  max-width: 220px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .bottom-card {
    left: 0%;
    bottom: 0%;
    max-width: 200px;
  }
}
.why-us-img-wrap .bottom-card img {
  width: 30px;
  height: 30px;
}
.why-us-img-wrap .bottom-card p {
  color: #1d2b4f;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .bottom-card p {
    font-size: 10px;
  }
}
.why-us-img-wrap .bottom-card .hr-custom {
  height: 1px;
  width: 100%;
  background-color: rgba(150, 144, 148, 0.67);
}

[data-aos=animate-down] {
  transform: translateY(-12px);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-down].aos-animate {
  transform: translateY(0%);
  opacity: 1;
}

[data-aos=animate-left] {
  transform: translateX(-10%);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-left].aos-animate {
  transform: translateX(0%);
  opacity: 1;
}

[data-aos=animate-right] {
  transform: translateX(10%);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-right].aos-animate {
  transform: translateX(0%);
  opacity: 1;
}

[data-aos=animate-rotate-negative] {
  transform: rotate(-15deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-rotate-negative].aos-animate {
  transform: rotate(-5deg);
  opacity: 1;
}

[data-aos=animate-rotate-positive] {
  transform: rotate(15deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-rotate-positive].aos-animate {
  transform: rotate(0deg);
  opacity: 1;
}

.lang-nav-item {
  position: relative;
}
.lang-nav-item .flag-items {
  position: absolute;
  z-index: 15;
  top: 105%;
  left: 0;
  background-color: #fff;
  padding: 12px;
  display: none;
}
.lang-nav-item .flag-items .flag {
  width: 20px;
  height: 20px;
}
.lang-nav-item:hover .flag-items {
  display: block;
}

.dispaly-product {
  color: #333333;
  cursor: pointer;
}

.dispaly-product.active {
  color: #ff6363;
}

.filter {
  position: relative;
  cursor: pointer;
}
.filter .filter-nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
@media (max-width: 767px) {
  .filter .filter-nav {
    left: 50%;
    transform: translateX(-50%);
  }
}
.filter .filter-nav .filter-nav-list .filter-nav-item {
  width: 220px;
}
.filter .filter-nav .filter-nav-list .filter-nav-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.filter .filter-nav .filter-nav-list .filter-nav-item:hover {
  background-color: #f8f2f2;
}
.filter:hover .filter-nav {
  display: block;
}

.product-toggle {
  cursor: pointer;
}
.product-toggle i {
  color: #999999;
}
.product-toggle svg rect {
  fill: #999999;
}

.product-toggle.active {
  cursor: pointer;
}
.product-toggle.active svg rect {
  fill: #ff6363;
}
.product-toggle.active i {
  color: #ff6363;
}

.list-prod-content {
  display: none;
}

.product-description {
  -webkit-line-clamp: 2;
}

.cart-img-wrap {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.cart-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table tr td {
  vertical-align: middle;
  text-align: start;
}

.cart-items {
  height: 240px;
  overflow-y: auto;
}
.cart-items::-webkit-scrollbar {
  width: 0;
}

.cetner-category-nav.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 45;
}

.devider {
  height: 1px;
  background-color: #ebebeb;
  width: 100%;
}

.col-10.col-xs-11.col-sm-4.alert.animated.fadeInDown {
  max-width: 250px !important;
  padding: 20px 20px 20px !important;
  border: 0 !important;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.col-10.col-xs-11.col-sm-4.alert.animated.fadeInDown .close {
  top: -3px !important;
  right: 4px !important;
}

.col-10.col-xs-11.col-sm-4.alert.alert-success.animated.fadeInDown {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.col-10.col-xs-11.col-sm-4.alert.animated.fadeInDown::before {
  display: none !important;
}

.close {
  transition: opacity 0.25s;
  border: 0;
  background: 0;
  color: #505050;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  opacity: 0.6;
}

.alert {
  display: block;
  position: relative;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
}

.alert i {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: middle;
}

.alert::before {
  display: block;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 1px solid transparent;
  border-radius: 5px;
  content: "";
  z-index: -1;
}

.alert .alert-dismissible {
  transition: opacity 0.4s;
}

.alert .alert-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 12px;
  font-family: feather;
  font-size: 16px;
  cursor: pointer;
}

.alert .alert-close::before {
  content: "\ea04";
}

.alert-default::before {
  border-color: rgba(80, 80, 80, 0.13);
}

.alert-primary {
  background-color: rgba(0, 85, 255, 0.11);
  color: #377dff;
}

.alert-primary::before {
  border-color: rgba(0, 85, 255, 0.25);
}

.alert-info {
  background-color: rgba(33, 150, 243, 0.11);
  color: #2196f3;
}

.alert-info::before {
  border-color: rgba(33, 150, 243, 0.3);
}

.alert-success {
  background-color: rgba(76, 175, 80, 0.11);
  color: #4caf50;
}

.alert-success::before {
  border-color: rgba(76, 175, 80, 0.25);
}

.alert-warning {
  background-color: rgba(255, 160, 0, 0.11);
  color: #ffa000;
}

.alert-warning::before {
  border-color: rgba(255, 160, 0, 0.25);
}

.alert-danger {
  background-color: rgba(244, 67, 54, 0.11);
  color: #f44336;
}

.alert-danger::before {
  border-color: rgba(244, 67, 54, 0.25);
}

.alert-image-bg {
  border: 0;
}

.iziToast {
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
}

.iziToast::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.2);
  content: "";
  z-index: -1;
}

.iziToast > .iziToast-body {
  margin-left: 15px;
}

.iziToast > .iziToast-close {
  width: 40px;
  transition: opacity 0.25s;
  background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjMzc0MjUwIi8+Cjwvc3ZnPgo=) center/8px no-repeat;
}

.iziToast.iziToast-info {
  border-color: rgba(33, 150, 243, 0.3);
  background-color: #e3f2fd;
  color: #0d8aee;
}

.iziToast.iziToast-info > .iziToast-close {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjMTg5NmJiIi8+Cjwvc3ZnPgo=);
}

.iziToast.iziToast-success {
  border-color: rgba(76, 175, 80, 0.3);
  background-color: #e7f5e7;
  color: #439a46;
}

.iziToast.iziToast-success > .iziToast-close {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjMWY5NzZjIi8+Cjwvc3ZnPgo=);
}

.iziToast.iziToast-warning {
  border-color: rgba(255, 160, 0, 0.3);
  background-color: #fff2db;
  color: #f09600;
}

.iziToast.iziToast-warning > .iziToast-close {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTg4OTAwIi8+Cjwvc3ZnPgo=);
}

.iziToast.iziToast-danger {
  border-color: rgba(244, 67, 54, 0.3);
  background-color: #fee6e4;
  color: #f44336;
}

.iziToast.iziToast-danger > .iziToast-close {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZWIwMDAwIi8+Cjwvc3ZnPgo=);
}

.toast.position-fixed {
  min-width: 300px;
  z-index: 9900;
}

.toast.position-fixed.top-center {
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.toast.position-fixed.top-right {
  top: 30px;
  right: 30px;
}

.toast.position-fixed.top-left {
  top: 30px;
  left: 30px;
}

.toast.position-fixed.bottom-center {
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.toast.position-fixed.bottom-right {
  bottom: 30px;
  right: 30px;
}

.toast.position-fixed.bottom-left {
  bottom: 30px;
  left: 30px;
}

.counter-button {
  width: 45px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  padding: 0;
}

.cart-qty {
  width: 60px;
  height: 41px;
  padding: 0 10px;
  text-align: center;
}
.cart-qty:hover {
  box-shadow: 0;
  border: 0;
  outline: 0;
}

.checkout-summary {
  background-color: #f5f5f5;
}

button.accordion-button[aria-expanded=true] .faq-question {
  position: relative;
  display: inline-block;
}
button.accordion-button[aria-expanded=true] .faq-question::after {
  position: absolute;
  content: "";
  background-color: #fb5c42;
  width: 100%;
  height: 2px;
  z-index: 12;
  top: 110%;
  left: 0;
}

@media (max-width: 767px) {
  .table-responsive .table {
    width: 800px;
  }
}
.table-responsive::-webkit-scrollbar {
  width: 0;
}

.forgot-password-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 12;
}

.modal-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.modal-input {
  display: block;
  border-radius: 24px 0px 0px 24px;
}
.modal-input:focus {
  outline: 0;
  box-shadow: 0;
}

.submit-btn-modal {
  border-radius: 0px 24px 24px 0px;
  box-shadow: 0;
  background-color: #ff6363;
  color: #fff;
  text-transform: uppercase;
}
.submit-btn-modal:hover {
  background-color: #f75050 !important;
  color: #fff !important;
}

.about-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
}

.user-options {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}
.user-options:hover .user-list {
  display: block;
  overflow: hidden;
}
.user-options .user-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 5;
  display: none;
}
.user-options .user-list .user-list-item {
  width: 220px;
}
.user-options .user-list .user-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.user-options .user-list .user-list-item:hover {
  background-color: #ffaaaa;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffaaaa;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
