@font-face {
  font-family: "Einstellung";
  src: url("../assets/fonts/Neue Einstellung Regular.otf");
  font-weight: normal;
  font-style: normal;
}
.text-gray-300 {
  color: #b3b3b3;
}

.text-gray-700 {
  color: #999999;
}

.text-gray-600 {
  color: #707070;
}

.bg-gray-100 {
  background-color: #f8f2f2;
}

.bg-red-400 {
  background-color: #ffaaaa;
}

.bg-red-light {
  background-color: #fff4f3;
}

.bg-green-light {
  background-color: #e4f4e4;
}

.bg-yellow-light {
  background-color: #fff9dd;
}

.footer-bg {
  background-color: #262626;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Einstellung", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Einstellung", sans-serif;
}

.heading-h1 {
  font-size: 55px;
  font-weight: 500;
}
@media (max-width: 1440px) {
  .heading-h1 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .heading-h1 {
    font-size: 35px;
  }
}

.heading-h2 {
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .heading-h2 {
    font-size: 20px;
    font-weight: 700;
  }
}

.heading-h3 {
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .heading-h3 {
    font-size: 25px;
    font-weight: normal;
  }
}

.heading-h4 {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .heading-h4 {
    font-size: 20px;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .heading-h4 {
    font-size: 20px;
    font-weight: 700;
  }
}

.heading-h5 {
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .heading-h5 {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .heading-h5 {
    font-size: 16px;
    font-weight: normal;
  }
}

.heading-h6 {
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .heading-h6 {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .heading-h6 {
    font-size: 16px;
    font-weight: normal;
  }
}

.text-lg {
  font-size: 18px;
}

.text-base {
  font-size: 16px;
  font-weight: normal;
}
@media (max-width: 1440px) {
  .text-base {
    font-size: 14px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .text-base {
    font-size: 14px;
    font-weight: normal;
  }
}

.text-md {
  font-size: 15px;
}

.text-sm {
  font-size: 14px;
}

.text-xm {
  font-size: 10px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.hero-section {
  background: linear-gradient(to right, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0)), url(/assets/images/backgrounds/header-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 100vh;
}
@media (max-width: 1440px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cat-prod-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .cat-prod-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 767px) {
  .cat-prod-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}
.cat-prod-img:hover {
  transform: scale(1.1);
}

.cat-left-col-img {
  width: 100%;
  height: 1055px;
  object-fit: cover;
  object-position: top;
}
@media (max-width: 1440px) {
  .cat-left-col-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
  }
}

.luxury-text {
  left: 0px;
  bottom: 0;
}

.logo-wrap {
  border: 1px solid rgb(230, 230, 230);
  height: 240px;
}

.subscrie-btn {
  width: 60px;
  height: 60px;
}

.submit-form {
  border: 1px solid rgb(102, 102, 102);
}

.off-price,
.heart-action {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .off-price,
.heart-action {
    width: 40px;
    height: 40px;
  }
}

.off-price {
  top: 12px;
  left: 20px;
}

.timer {
  bottom: 27%;
  width: 85%;
}

.heart-action {
  top: 12px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s;
}

.cart-actions {
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  opacity: 0;
  transition: all 0.4s;
}
.cart-actions .action-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .cart-actions .action-btn {
    width: 40px;
    height: 40px;
  }
}

.prod-column {
  transition: all 0.4s;
}
.prod-column:hover .cart-actions {
  opacity: 1;
  bottom: 24%;
  left: 50%;
  transform: translate(-50%, -24%);
}
.prod-column:hover .heart-action {
  transform: translateX(0%);
  opacity: 1;
}

.cat-prod-img:hover .action-btn {
  opacity: 1;
}

.logo {
  width: 100%;
  height: auto;
}
@media (max-width: 1440px) {
  .logo {
    width: 85%;
  }
}
@media (max-width: 991px) {
  .logo {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 60%;
  }
}

.logo-wrap-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1240px) {
  .logo-wrap-main {
    left: 36%;
    transform: translateX(-36%);
  }
}
@media (max-width: 991px) {
  .logo-wrap-main {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .logo-wrap-main {
    left: 44%;
    transform: translateX(-50%);
  }
}

line number 407

.cat-list li a {
  text-transform: uppercase;
}

.cat-list .cat-list-item:hover .sub-cat-list {
  display: block;
}

.cat-list .cat-list-item .sub-cat-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item {
  width: 245px;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover {
  background-color: #f8f2f2;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover .sub-sub-cat-list {
  display: block;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 5;
  display: none;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item {
  width: 245px;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:hover {
  background-color: #f8f2f2;
}

/* Add styles for sub-sub-categories */
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:hover {
  background-color: #f8f2f2;
}

/* Add styles for sub-sub-categories */
.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item:hover .sub-sub-cat-list {
  display: block;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 5;
  display: none;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item {
  width: 245px;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.cat-list .cat-list-item .sub-cat-list .sub-cat-list-item .sub-sub-cat-list .sub-sub-cat-list-item:hover {
  background-color: #f8f2f2;
}

.cart-icons {
  cursor: pointer;
}

.foodox-item-1 .img-wrapp,
.foodox-item-4 .img-wrapp {
  max-width: 60%;
  height: auto;
  object-fit: contain;
}
@media (max-width: 1440px) {
  .foodox-item-1 .img-wrapp,
.foodox-item-4 .img-wrapp {
    max-width: 100%;
    height: 220px;
    object-fit: contain;
  }
}

.foodox-item-5 {
  min-height: 858px;
}
@media (max-width: 1440px) {
  .foodox-item-5 {
    min-height: 584px;
  }
}
@media (max-width: 1440px) {
  .foodox-item-5 {
    height: auto;
    min-height: auto;
  }
}

.foodox-item-2 {
  height: 458px;
}
@media (max-width: 1440px) {
  .foodox-item-2 {
    height: 284px;
  }
}
@media (max-width: 991px) {
  .foodox-item-2 {
    height: auto;
  }
}

.foodox-item-3 {
  height: 382px;
}
@media (max-width: 1440px) {
  .foodox-item-3 {
    height: 284px;
  }
}
@media (max-width: 991px) {
  .foodox-item-3 {
    height: auto;
  }
}

.content-box {
  position: absolute;
  right: 32px;
}
@media (max-width: 991px) {
  .content-box {
    position: relative;
  }
}

.content-box-1-img {
  position: absolute;
  left: 10px;
  top: 80px;
}
@media (max-width: 991px) and (max-width: 991px) {
  .content-box-1-img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.content-box-1-img img {
  max-width: 80%;
}

.content-box-2-img {
  position: absolute;
  left: 20px;
  top: 40px;
}
@media (max-width: 991px) {
  .content-box-2-img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.content-box-2-img img {
  max-width: 44%;
}
@media (max-width: 1440px) {
  .content-box-2-img img {
    max-width: 30%;
  }
}
@media (max-width: 991px) {
  .content-box-2-img img {
    max-width: 60%;
  }
}

.mob-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.mob-search.show-mob-search {
  display: flex;
}
@media (min-width: 992px) {
  .mob-search.show-mob-search {
    display: none;
  }
}

.category-navigation {
  position: absolute;
  top: 0;
  width: 20%;
  left: -100px;
  height: 100vh;
  background-color: #fff;
  z-index: 3;
  transform: translateX(-110%);
  transition: all 0.4s;
}
.category-navigation .main-category {
  cursor: pointer;
}
.category-navigation .main-category:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category:hover {
  background-color: #f8f2f2;
}
.category-navigation .main-category:hover .sub-category {
  display: block;
}
.category-navigation .main-category .sub-category {
  right: -100%;
  top: 0;
  background-color: #fff;
  min-width: 272px;
  height: 100vh;
  display: none;
}
.category-navigation .main-category .sub-category .sub-category-items:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category .sub-category .sub-category-items:hover {
  background-color: #f8f2f2;
}
.category-navigation .main-category .sub-category .sub-category-items:hover .sub-sub-category {
  display: block;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category {
  right: -100%;
  top: 0;
  background-color: #fff;
  min-width: 272px;
  height: 100vh;
  display: none;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category:hover .sub-sub-category-items {
  display: block;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category .sub-sub-category-items:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
.category-navigation .main-category .sub-category .sub-category-items .sub-sub-category .sub-sub-category-items:hover {
  background-color: #f8f2f2;
}
.category-navigation .close-btn {
  cursor: pointer;
}
.category-navigation .close-btn:hover {
  color: #ff6363;
}

.category-navigation.show-nav {
  transform: translateX(0%);
}
@media (max-width: 991px) {
  .category-navigation.show-nav {
    display: none;
  }
}

.top-nav {
  border-bottom: 2px solid #e6e6e6;
}
.top-nav .cart-icons span {
  position: absolute;
  right: -7px;
  bottom: -3px;
  background-color: #ff6363;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
}
.top-nav .category-menu {
  cursor: pointer;
}
.top-nav .category-menu:hover {
  color: #ff6363;
}

.center-nav .cat-list-item .main-link {
  text-transform: uppercase;
  position: relative;
}
.center-nav .cat-list-item .main-link:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -4px;
  border-radius: 4px;
  left: 0;
  background-color: #ffd536;
  height: 3px;
  transform: scale(0);
  transition: all 0.4s;
  transform-origin: left;
}
.center-nav .cat-list-item .main-link:hover:after {
  transform: scale(1);
}

.best-prod-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.4s;
}
.best-prod-img:hover {
  transform: scale(1.1);
}

.credits {
  border-top: 1px solid rgb(77, 77, 77);
}

.services-icon {
  height: 60px;
  width: 60px;
}

.social-links {
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer .footer-icon-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 16px;
  border-radius: 50%;
}
footer .footer-links {
  transition: all 0.5s;
}
footer .footer-links:hover {
  margin-left: 5px;
  color: #ff6363;
}

.scrollToTopBtn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  background-color: #ff6363;
  border: 1px solid #ff6363;
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}
@media (max-width: 575px) {
  .scrollToTopBtn {
    width: 36px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 16px;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.contact-anchors {
  color: #ff6363;
}

.contact-icons {
  height: 52px;
  width: 52px;
  border-radius: 2px 12px 2px 12px;
  background-color: #ff6363;
}
.contact-icons i {
  color: #fff;
  font-size: 1.25rem;
}

.tick-wrap {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.pricing-type {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

p.pricing-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #737373;
  font-weight: bold;
}

h4.pricing {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}

p.spec-currency {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

p.spec-month {
  color: #8ec2f2;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

span.pricing-feature-tick {
  display: inline-flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.services-wrap {
  cursor: pointer;
  position: relative;
}
.services-wrap .service-card {
  border-radius: 30px;
  position: relative;
  z-index: 2;
}
.services-wrap .service-card .service-img-wrap {
  height: 190px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.services-wrap .services-bg {
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  width: 97%;
  height: 97%;
  background-color: #1b1542;
  border-radius: 30px;
  top: 1px;
  left: 1px;
}
.services-wrap:hover .services-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-2deg);
}

.newsletter-container {
  border-radius: 12px;
  min-height: 300px;
  position: relative;
}
.newsletter-container .newsletter-heading {
  font-size: 44px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .newsletter-container .newsletter-heading {
    font-size: 36px;
    font-weight: 500;
  }
}
.newsletter-container .newsletter-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .newsletter-container .newsletter-img {
    position: relative;
  }
}

.white-rule {
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.stat-info {
  border-radius: 14px;
}
.stat-info .stat-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background: #fff;
}
.stat-info .stat-count {
  color: #faffff;
  font-size: 54px;
  font-weight: 500;
  line-height: 54px;
}
@media (max-width: 1400px) {
  .stat-info .stat-count {
    font-size: 42px;
  }
}
.stat-info .state-name {
  color: #faffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 1400px) {
  .stat-info .state-name {
    font-size: 18px;
    line-height: 18px;
  }
}

.portfolio-img-wrap {
  position: relative;
  z-index: 2;
}
.portfolio-img-wrap .portfolio-img {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.portfolio-img-wrap .portfilo-img-bg {
  content: "";
  position: absolute;
  z-index: -2;
  width: 98%;
  height: 98%;
  border-radius: 6px;
  border: 1px solid #000;
  background: #fff;
  top: 3px;
  left: 3px;
  right: 0;
  transition: all 0.8s ease-in-out;
}
.nav-tab-btn {
  border: 1px solid #1b1542;
  color: #1b1542;
  background-color: transparent;
  width: 150px;
  height: 54px;
}

.nav-tab-btn:first-child {
  border-radius: 6px 0px 0px 6px;
}

.nav-tab-btn:last-child {
  border-radius: 0px 6px 6px 0px;
}

.nav-btn-active {
  background-color: #1b1542;
  color: #fff;
}

.header-img-wrap {
  position: relative;
}
@media (max-width: 767px) {
  .header-img-wrap img {
    max-width: 80%;
  }
}
.header-img-wrap .rating-card,
.header-img-wrap .doc-card {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 12px 32px 0px rgba(63, 128, 240, 0.08);
}
.header-img-wrap .rating-card .g-star-box,
.header-img-wrap .doc-card .g-star-box {
  border-radius: 10px;
  background: #f7f9fe;
  width: 30px;
  height: 30px;
}
.header-img-wrap .rating-card .rating-text,
.header-img-wrap .doc-card .rating-text {
  color: #031432;
  line-height: normal;
  font-size: 12px;
}
@media (max-width: 767px) {
  .header-img-wrap .rating-card .rating-text,
.header-img-wrap .doc-card .rating-text {
    font-size: 9px;
  }
}
.header-img-wrap .rating-card {
  top: 7%;
  right: -12%;
}
@media (max-width: 767px) {
  .header-img-wrap .rating-card {
    right: 0%;
    top: -3%;
  }
}
.header-img-wrap .doc-card {
  bottom: 14%;
  left: 7%;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card {
    left: 0%;
    bottom: 8%;
  }
}
.header-img-wrap .doc-card .doc-text-lg {
  color: #031432;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card .doc-text-lg {
    font-size: 12px;
  }
}
.header-img-wrap .doc-card .doc-text-sm {
  color: #6c87ae;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 767px) {
  .header-img-wrap .doc-card .doc-text-sm {
    font-size: 8px;
  }
}
.header-img-wrap .process-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: -20px 34px 84px -20px rgba(0, 0, 0, 0.4);
  top: 44%;
  right: -17%;
  position: absolute;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card {
    top: 32%;
    right: 0%;
  }
}
.header-img-wrap .process-card .icon-box {
  border-radius: 10px;
  background: #f7f9fe;
  width: 30px;
  height: 30px;
}
.header-img-wrap .process-card .process-text-top {
  color: #1d2b4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .process-text-top {
    font-size: 10px;
  }
}
.header-img-wrap .process-card .process-text-bottom {
  color: #7e8085;
  font-size: 11px;
  margin-top: 2px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.07px;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .process-text-bottom {
    font-size: 7px;
  }
}
.header-img-wrap .process-card .line-1,
.header-img-wrap .process-card .line-2 {
  width: 1px;
  height: 18px;
  background-color: rgba(150, 144, 148, 0.67);
  left: 16%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-1,
.header-img-wrap .process-card .line-2 {
    left: 18%;
  }
}
.header-img-wrap .process-card .line-1 {
  top: 28.5%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-1 {
    top: 28%;
  }
}
.header-img-wrap .process-card .line-2 {
  top: 61.4%;
}
@media (max-width: 767px) {
  .header-img-wrap .process-card .line-2 {
    top: 61%;
  }
}

.why-us-img-wrap {
  position: relative;
}
.why-us-img-wrap .top-card {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 34px 84px -20px rgba(0, 0, 0, 0.35);
  top: 10%;
  right: -10%;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card {
    top: -8%;
    right: 0%;
  }
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .apt-btn {
    font-size: 10px !important;
    word-spacing: 5px;
  }
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card {
    max-width: 180px;
  }
}
.why-us-img-wrap .top-card .stat-box {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: #f7f9fe;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .stat-box {
    width: 48px;
    height: 34px;
    border-radius: 5px;
  }
}
.why-us-img-wrap .top-card .stat-box .stat-count {
  color: #1d2b4f;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.12px;
}
.why-us-img-wrap .top-card .stat-box .disc-text {
  color: #1d2b4f;
  font-size: 9px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .top-card .disc-text {
    font-size: 12px;
    line-height: 16px;
  }
}
.why-us-img-wrap .bottom-card {
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 34px 84px -20px rgba(0, 0, 0, 0.25);
  bottom: 6%;
  left: -10%;
  max-width: 220px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .bottom-card {
    left: 0%;
    bottom: 0%;
    max-width: 200px;
  }
}
.why-us-img-wrap .bottom-card img {
  width: 30px;
  height: 30px;
}
.why-us-img-wrap .bottom-card p {
  color: #1d2b4f;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
}
@media (max-width: 767px) {
  .why-us-img-wrap .bottom-card p {
    font-size: 10px;
  }
}
.why-us-img-wrap .bottom-card .hr-custom {
  height: 1px;
  width: 100%;
  background-color: rgba(150, 144, 148, 0.67);
}

[data-aos=animate-down] {
  transform: translateY(-12px);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-down].aos-animate {
  transform: translateY(0%);
  opacity: 1;
}

[data-aos=animate-left] {
  transform: translateX(-10%);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-left].aos-animate {
  transform: translateX(0%);
  opacity: 1;
}

[data-aos=animate-right] {
  transform: translateX(10%);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-right].aos-animate {
  transform: translateX(0%);
  opacity: 1;
}

[data-aos=animate-rotate-negative] {
  transform: rotate(-15deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-rotate-negative].aos-animate {
  transform: rotate(-5deg);
  opacity: 1;
}

[data-aos=animate-rotate-positive] {
  transform: rotate(15deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=animate-rotate-positive].aos-animate {
  transform: rotate(0deg);
  opacity: 1;
}

.lang-nav-item {
  position: relative;
}
.lang-nav-item .flag-items {
  position: absolute;
  z-index: 15;
  top: 105%;
  left: 0;
  background-color: #fff;
  padding: 12px;
  display: none;
}
.lang-nav-item .flag-items .flag {
  width: 20px;
  height: 20px;
}
.lang-nav-item:hover .flag-items {
  display: block;
}

/*# sourceMappingURL=style.css.map */
